<%# <main role="main" class="flex-shrink-0"> %>
	<div class="container" id="home-container">
		<div class="jumbotron text-center mt-1">
			<h1>Alpha Blog</h1>

			<%= link_to "Sign Up!", signup_path, class: "btn btn-lg btn-success mt-5" %>
			<br/>	<br/>
			<p class="lead lead-shadow text-white">This is an example blog written in Rails 6</p>
			<p class="lead text-white">Sign up to read articles!</p>
		</div>
	</div>
