<%# <main role="main" class="flex-shrink-0"> %>
	<div class="container" id="home-container">
		<div class="jumbotron text-center mt-1">
			<h1 class=>Alpha Blog</h1>
			<p class="lead text-white">This is an example blog written in Rails 6</p>
			<%= link_to "Sign Up!", signup_path, class: "btn btn-lg btn-success my-4" %>
			<p class="my-6 text-success">Sign up to read articles!</p>
		</div>
	</div>
